social-media-scheduler.json
{
  "name": "Social Media Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "2af3daaa-2e84-4619-8f82-ea23dda979de",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_URL_HERE",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "YOUR_GOOGLE_SHEETS_URL_HERE#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "58be4493-0095-4507-a064-8a6b7b43192f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = $now.setZone('Asia/Jakarta');\nconst currentDate = now.toFormat('yyyy-MM-dd');\nconst currentHour = now.toFormat('HH');\n\n\nconst readyToPost = [];\n\nfor (const item of $input.all()) {\n  // Coba berbagai kemungkinan nama kolom\n  const tanggal = item.json['Tanggal'] || item.json['tanggal'] || '';\n  const jam = item.json['Jam'] || item.json['jam'] || '';\n  const konten = item.json['Konten'] || item.json['konten'] || '';\n  const rowNum = item.json['row_number'] || item.json['rowNumber'] || '';\n  const imageUrl = (item.json['Image_URL'] || item.json['image_url'] || '').trim();\n\n  if (!tanggal || !jam) continue;\n\n  const [postHour] = jam.split(':');\n\n  if (tanggal === currentDate && postHour === currentHour) {\n    readyToPost.push({\n      json: {\n        konten: konten,\n        tanggal: tanggal,\n        jam: jam,\n        rowNumber: rowNum,\n        imageUrl: imageUrl\n      }\n    });\n  }\n}\n\nif (readyToPost.length === 0) {\n  return [{ json: { skip: true } }];\n}\n\nreturn readyToPost;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "72371afd-c760-4cf7-bb96-57302364db19",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0b2a2ed7-b008-455e-863f-b0aade5a54bf",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "6dcab283-03e8-4b36-a23a-2ad40fd28f85",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_URL_HERE",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "YOUR_GOOGLE_SHEETS_URL_HERE#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Code in JavaScript').item.json.rowNumber }}",
            "Status": "Posted",
            "Posted At": "={{ $now.setZone('Asia/Jakarta').toFormat('dd-MM-yyyy HH:mm') }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Tanggal",
              "displayName": "Tanggal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jam",
              "displayName": "Jam",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Konten",
              "displayName": "Konten",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Posted At",
              "displayName": "Posted At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1504,
        16
      ],
      "id": "dfd8c1a0-0c16-418b-be9c-2778402c001f",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.fonnte.com/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "YOUR_FONNTE_TOKEN_HERE"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "target",
              "value": "YOUR_WHATSAPP_GROUP_ID_HERE"
            },
            {
              "name": "message",
              "value": "={{ $('Code in JavaScript').item.json.konten }}"
            },
            {
              "name": "type",
              "value": "image"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        -48
      ],
      "id": "11c7a9d8-6d64-4715-a0d0-b50934732ca6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "@YOUR_TELEGRAM_CHANNEL_HERE",
        "file": "={{ $('Code in JavaScript').item.json.imageUrl }}",
        "additionalFields": {
          "caption": "={{ $('Code in JavaScript').item.json.konten }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        864,
        -48
      ],
      "id": "6b7e17e4-f710-456c-b264-c1712547dcee",
      "name": "Send a photo message",
      "webhookId": "02ec41d4-53b8-4b23-a94d-e545f3375773",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Send a photo message').item.json.result.photo[2].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        -48
      ],
      "id": "adbb3d2d-ba9d-4e05-97cf-09a901cedfbf",
      "name": "Get a file",
      "webhookId": "51337eca-9de4-41b8-9daf-748c779714fb",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "47401536-b03d-4874-a223-3c1134417059",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "SzA4bTjG2eXW6vlR",
  "tags": []
}
